.login-form{
	display: flex;
	flex-direction: column;
	margin: 35px auto;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px #a1a1a1;
	padding-top: 40px;

}
.form-control{
	width: 200px;
	margin-block: 0;
	margin-inline: auto;
}
.form-control input{
	margin-bottom: 25px;
}
.btn{
	width: 100px;
	margin-inline: auto;
}
